name: send-weather
on:
  schedule:
    - cron: '20 22 * * *' # this is utc time, it is 6:30 in China.
  push:
    branches:
      - "master"

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        racket-version: ["stable"]
        racket-variant: ["CS"]
    name: main
    steps:
      - uses: actions/checkout@master
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Asia/Shanghai"
      - uses: Bogdanp/setup-racket@v1.5
        with:
          architecture: x64
          distribution: full # or minimal
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
      - name: install deps
        run: raco pkg install --auto

      # - name: setup RECIPIENTS variable
      #   run: |
      #     echo "RECIPIENTS=$EMAIL1 $EMAIL2 $EMAIL3 $EMAIL4 $EMAIL5 $EMAIL6" >> $GITHUB_ENV
      #   env:
      #     EMAIL1: ${{ secrets.EMAIL_MY_QQ }}
      #     EMAIL2: ${{ secrets.EMAIL_BA_QQ }}
      #     EMAIL3: ${{ secrets.EMAIL_MY_139 }}
      #     EMAIL4: ${{ secrets.EMAIL_BA_139 }}
      #     # EMAIL5: ${{ secrets.EMAIL_GE }}
      #     # EMAIL6: ${{ secrets.EMAIL_DU }}

      - name: weather-forecast
        run: |
          ./weather-forecast.rkt
        env:
          API_DAY_IPHXR: ${{ secrets.API_DAY_IPHXR }}
          API_NTFY: ${{ secrets.API_NTFY }}
          SENDER: ${{ secrets.SENDER }}
          AUTH_USER: ${{ secrets.AUTH_USER }}
          AUTH_PASSWD: ${{ secrets.AUTH_PASSWD }}
          QWEATHER_API_KEY: ${{ secrets.QWEATHER_API_KEY }}
          # EMAIL_MY_QQ: ${{ secrets.EMAIL_MY_QQ }}
          # EMAIL_BA_QQ: ${{ secrets.EMAIL_BA_QQ }}
          # EMAIL_MY_139: ${{ secrets.EMAIL_MY_139 }}
          # EMAIL_BA_139: ${{ secrets.EMAIL_BA_139 }}
          # EMAIL_GE: ${{ secrets.EMAIL_GE }}
          # EMAIL_DU: ${{ secrets.EMAIL_DU }}
